
<div id="main-wrapper">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <h3 class="panel-title">普通众筹</h3>
                </div>
                <div class="panel-body">
                    <p>商品众筹（有偿众筹），公益众筹（无偿众筹）等。</p>
                    <a href="<?=weburl('crowd','start','ff=1')?>" class="btn btn-default">发起众筹</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <h3 class="panel-title">联合众筹</h3>
                </div>
                <div class="panel-body">
                    <p>报名众筹相关。</p>
                    <a href="<?=weburl('crowd','start','type=1&ff=1')?>" class="btn btn-default" >发起众筹</a>
                </div>
            </div>
        </div>
    </div><!-- Row -->
</div><!-- Main Wrapper -->