<div class="page-title">
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="<?=weburl('home','index')?>">首页</a></li>
            <li class="active">入口设置</li>
        </ol>
    </div>
</div>
<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div style="float: right; margin-bottom: 10px">
                        <button id="add-notice" class="btn btn-default" data-toggle="modal" data-target=".rule-modal">增加入口</button>
                    </div>
                    <table id="sys-notice" class="table table-bordered table-striped" style="clear: both">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>关键词</th>
                            <th>链接</th>
                            <th>描述</th>
                            <th>二维码</th>
                            <th>开关</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php if(is_array($rule)):foreach($rule as $r):?>
                        <tr id="rule-<?=$r['id']?>">
                            <td style="min-width: 200px"><a href="#" data-type="text" data-pk="<?=$r['id']?>" data-title="入口名称" class="rule-name editable editable-click" style="display: inline;"><?=@$r['name']?></a></td>
                            <td style="min-width: 200px"><a href="#" data-type="text" data-pk="<?=$r['id']?>" data-title="输入关键字" class="rule-key editable editable-click" style="display: inline;"><?=$r['key']?></a></td>
                            <td><a href="#" data-type="text" data-pk="<?=$r['id']?>" data-title="输入入口链接" class="rule-link editable editable-click" style="display: inline;"><?=$r['link']?></a></td>
                            <td><a href="#" data-type="textarea" data-pk="<?=$r['id']?>" data-title="输入入口描述" class="rule-content editable editable-click" style="display: inline;"><?=$r['content']?></a></td>
                            <td>
                                <img src="<?=weburl('system','rulecode')?>&str=<?=urlencode($r['link'])?>" width="80px" class="ruleimg" />
                            </td>
                            <td>
                                <a href="#" data-type="select" data-pk="<?=$r['id']?>" data-value="<?=$r['status']?>" data-title="入口开关" class="editable editable-click rule-status" ><?=$r['status']=='1'?'开':'关'?></a>
                            </td>
                            <td><button data-pk="<?=$r['id']?>" class="btn btn-danger btn-rounded rule-del">删除</button></td>
                        </tr>
                        <?php endforeach;endif;?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div><!-- Main Wrapper -->
<div class="modal fade rule-modal in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">增加入口</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="rule-form" id="rule-form">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="入口名称">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="key" id="key" placeholder="关键词">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" name="content" id="content" placeholder="入口描述"></textarea>
                    </div>
                    <div class="form-group">
                        <select class="form-control" tabindex="-1" id="sls-link">
                            <optgroup label="众筹链接">
                                <option value="<?=appurl('crowd','index')?>">众筹列表</option>
                                <option value="<?=appurl('mycrowd','start')?>">发起众筹</option>
                                <option value="<?=appurl('mycrowd','index')?>">我的发起</option>
                                <option value="<?=appurl('user','order')?>">我支持的众筹</option>
                            </optgroup>
                            <optgroup label="其他链接">
                                <option value="<?=appurl('home','index')?>">首页</option>
                                <option value="<?=appurl('user','index')?>">会员中心</option>
                                <option value="0">自定义</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="link" id="link" placeholder="链接">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" id="rule-sub">保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    var editurl='<?=weburl('system','editrule')?>';
    var delurl='<?=weburl('system','delrule')?>';
</script>