<?php
global $_W;
$sys=mysys();
?>
<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>
	<?=@$title.'|'.(@$sys['sysname']?$sys['sysname']:'一点众筹')?>
	</title>
	<meta name="format-detection" content="telephone=no, address=no">
	<meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
	<meta name="apple-touch-fullscreen" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="" />
	<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script type="text/javascript" src="<?=$_W['siteroot']?>app/resource/js/app/util.js"></script>
	<script src="<?=$_W['siteroot']?>app/resource/js/require.js"></script>
	<script type="text/javascript" src="<?=$_W['siteroot']?>app/resource/js/lib/jquery-1.11.1.min.js?v=20160906"></script>
	<script type="text/javascript" src="<?=MODULE_URL.'app/views/js/mui.min.js'?>"></script>
	<script type="text/javascript" src="<?=$_W['siteroot']?>app/resource/js/app/common.js?v=20160906"></script>
	<script type="text/javascript" src="<?=MODULE_URL.'app/views/js/common.js'?>?v=0.4"></script>
	<link href="<?=$_W['siteroot']?>app/resource/css/bootstrap.min.css?v=20160906" rel="stylesheet">
	<link href="<?=$_W['siteroot']?>app/resource/css/common.min.css?v=20160906" rel="stylesheet">
	<link href="<?=MODULE_URL.'app/views/css/common.css'?>?v=1.1.6" rel="stylesheet">
    <link href="<?=MODULE_URL.'app/views/css/icons-extra.css'?>?v=0.7" rel="stylesheet">
	<link href="<?=MODULE_URL.'app/views/css/iconfont.css'?>?v=0.7" rel="stylesheet">
	<?php if(is_array(@$styles)):foreach($styles as $style):?>
	<link href="<?=MODULE_URL.'app/views/css/'.$style.'.css'?>?v=1.1.1" rel="stylesheet">
	<?php endforeach;endif; ?>
	<script type="text/javascript">
        var m_sys_version='<?=mversion()?>';
	if(navigator.appName == 'Microsoft Internet Explorer'){
		if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
			alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
		}
	}
	window.sysinfo = {
		<?=!empty($_W['uniacid'])?'uniacid:'.$_W['uniacid'].',':''?>
    	<?=!empty($_W['acid'])?'acid:'.$_W['acid'].',':''?>
    	<?=!empty($_W['openid'])?'openid:\''.$_W['openid'].'\',':''?>
    	<?=!empty($_W['uid'])?'uid:'.$_W['uid'].',':''?>
		'siteroot': '<?=$_W['siteroot']?>',
		'siteurl': '<?=$_W['siteurl']?>',
		'attachurl': '<?=$_W['attachurl']?>',
		'attachurl_local': '<?=$_W['attachurl_local']?>',
		'attachurl_remote': '<?=@$_W['attachurl_remote']?>',
		<?=defined('MODULE_URL')?'MODULE_URL:\''.MODULE_URL.'\',':''?>
		'cookie' : {'pre': '<?=$_W['config']['cookie']['pre']?>'},
		'cashpay':'<?=@$sys['cashpay']?>'
	};
	// jssdk config 对象
	jssdkconfig = <?=json_encode(@$_W['account']['jssdkconfig'])?> || {};
	// 是否启用调试
	jssdkconfig.debug = false;
	jssdkconfig.jsApiList = [
		'checkJsApi',
		'onMenuShareTimeline',
		'onMenuShareAppMessage',
		'onMenuShareQQ',
		'onMenuShareWeibo',
		'hideMenuItems',
		'showMenuItems',
		'hideAllNonBaseMenuItem',
		'showAllNonBaseMenuItem',
		'translateVoice',
		'startRecord',
		'stopRecord',
		'onRecordEnd',
		'playVoice',
		'pauseVoice',
		'stopVoice',
		'uploadVoice',
		'downloadVoice',
		'chooseImage',
		'previewImage',
		'uploadImage',
		'downloadImage',
		'getNetworkType',
		'openLocation',
		'getLocation',
		'hideOptionMenu',
		'showOptionMenu',
		'closeWindow',
		'scanQRCode',
		'chooseWXPay',
		'openProductSpecificView',
		'addCard',
		'chooseCard',
		'openCard',
		'openAddress'
	];
		var referurl='<?=appurl('home','index')?>';
	</script>
	<?php if(is_array(@$scripts)):foreach($scripts as $script):?>
	<script type="text/javascript" src="<?=MODULE_URL.'app/views/js/'.$script.'.js'?>"></script>
	<?php endforeach;endif; ?>
</head>
<body class="page-header-fixed pace-done compact-menu page-sidebar-fixed">
<div class="container container-fill">
